/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;

}

/* Full-page container */
.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Take up the full viewport height */
}

/* Header styling */
.filter-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #f2f2f2; /* Set a background color if needed */
}

/* Map and Statistics Panel styling */
.map-content {
    display: flex;
    flex-direction: column;
    flex: 1; /* Take up remaining vertical space */
}

.map {
    flex: 1; /* Take up the left portion of the screen */
}

.statistics-panel {
  /* Initial width of the panel */
  flex: 0 0 25%; /* This means it starts at 25% width but does not grow or shrink */
  max-width: 400px; /* Adjust as needed */
  min-width: 250px; /* Adjust as needed */
}

/* Adjust the mapContainer height to fill the remaining space */
.mapContainer {
    height: 100%;
}

/* Custom CSS for popup content */
.nearpark-popup,
.park-popup,
.train-popup,
.tram-popup{
    color: white;
    border: none; /* Remove the border */
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    position: absolute; /* Set the position to relative for the custom close button */
  }

  /* Style for the custom close button */
  .nearpark-popup .custom-close-button,
  .park-popup .custom-close-button,
  .train-popup .custom-close-button,
  .tram-popup .custom-close-button {
    color: black;
    position: absolute; /* Position the custom close button absolutely */
    top: 10px; /* Adjust the top position as needed */
    right: 15px; /* Adjust the right position as needed */
    font-size: 16px;
    cursor: pointer; /* Add cursor pointer for hover effect */
    border: none; /* Remove border */
    padding: 0;
    margin: 0;
  }
  
  /* Style for the container */
  .nearpark-popup .popup-container,
  .park-popup .popup-container{
    width: 250px; /* Set a specific width for the container */
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    align-content: flex-start;
    justify-content: center;
    gap: 10px; /* Add some spacing between items */
    text-align: center; /* Center the text within the flex container */
  }

  .train-popup .popup-container{
    width: 300px;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    align-content: flex-start;
    justify-content: center;
    gap: 10px; /* Add some spacing between items */
    text-align: center; /* Center the text within the flex container */
  }
  .tram-popup .popup-container{
    width: 300px;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    align-content: flex-start;
    justify-content: center;
    gap: 10px; /* Add some spacing between items */
    text-align: center; /* Center the text within the flex container */
  }
  
  /* Style for the rectangles */
  .rectangle {
    background-color: #fff; /* White background */
    padding: 10px;
    border: 2px solid black; /* Blue border */
    border-radius: 5px;
    text-align: center; /* Center the text horizontally */
  }
  
  /* Style for the headers */
  .nearpark-popup .header {
    font-weight: bold;
    color: red; 
    text-align: center;
  }
  .park-popup .header{
    font-weight: bold;
    color: orange; 
    text-align: center;
  }

  .train-popup .header{
    font-weight: bold;
    color:  blue;
    text-align: center;
  }
  /* Style for the values */
  .value {
    color: #333; 
    text-align: center;
  }
  .value-a{
    color: green;
    text-align: center;
  }
  .value-awh{
    color: darkgoldenrod;
    text-align: center;
  }
  .value-na{
    color: red;
    text-align: center;
  }

  
  
  .leaflet-popup-close-button {
    display: none;
  }
  .popup-header {
    text-align: center; /* Center the text horizontally */
    font-size: 16px; /* Adjust the font size as needed */
    margin-bottom: 10px; /* Add some spacing between header and container */
    font-weight: bold; /* Make the header text bold */
  }
  
  

  .leaflet-popup-content-wrapper {
    padding: 6px; /* Adjust padding as needed */
    background-color: white; /* Or any other color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4); /* Shadow for depth */
}

